*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

nav{
	height:150px;
	width:100%;
	background-color:grey;
	border-bottom:3px solid green;
	margin-bottom:10px;
}

.logotext{
	float:left;
	height:100%;
	width:30%;
	padding-left:10px;
	/*background-color:red;*/
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.links{
	float:right;
	height:100%;
	width:40%;
    /*background-color:red;*/
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#logo{
	height:100px;
	width:100px;
}

.linka{
	width:100%;
	color:white;
}

.more{
	height:200px;
	width:100%;
	border:1px solid green;
	margin-bottom:10px;
}

.imagecontainer{
	float:left;
	height:100%;
	width:30%;
    /*background-color:red;*/
	display:flex;
	justify-content:center;
	align-items:center;
}

.data{
	float:right;
	height:100%;
	width:60%;
	/*background-color:red;*/
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:flex-start;
}

#image{
	height:180px;
	width:90%;
}

#readmore{
	height:50px;
	width:150px;
	border-radius:25px;
	background-color:#5984c9;

}
.data p{
	font-size:20px;
	font-weight:bold;
}

.extra{
	border:2px solid green;
	height:550px;
	width:100%;
}

.left{
	height:100%;
	width:48%;
	float:left;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	gap:20px;

}

.right{
	height:100%;
	width:48%;
	float:right;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	gap:20px;

}

li{
	text-indent:20px;
}

#indent{
	text-indent:20px;
}

.news{
	height:150px;
	width:100%;
	display:flex;
	justify-content:space-between;
}

.newsimagecontainer{
	height:100%;
	width:40%;
}
.imageofhand{
	height:100%;
	width:100%;
}
.btn-info{
	height:100%;
	width:55%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
