*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.bg-image-container{
	height:100vh;
	width:100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
	background-image:url(https://c.ndtvimg.com/2023-07/7406hsco_netflix-new_625x300_20_July_23.jpg);
	background-size:cover;
}

nav{

}

.mytext{
	font-size:60px !important;
}

.email-le{
	width:500px !important;
	height:55px !important;
}

input{
	border:1px solid white;
	background-color:black  !important;
	color:white !important;
}